MONGODB_APP_CONNECT = "THE CONNECTION STRING PROVIDED BY MONGODB"
PUBLIC_KEY = "PUBLIC KEY OF VERIFIABLE CREDENTIAL SIGNER => TRUST ANCHOR"
PRIVATE_KEY = "PRIVATE KEY OF VERIFIABLE CREDENTIAL SIGNER => TRUST ANCHOR"
